# This is the auth token for j2techlead@gmail.com
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
# And this is the auth token for the BTPN registry (j2-nexus user).
strict-ssl=false
//nexus.devops.dev.corp.btpn.co.id/repository/npm-j2-public/:_authToken=${NEXUS_TOKEN}
